@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  color: #404040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.createContainer {
  display: grid;

}
.nameDateFormContainer{
  display:grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 35% auto;

}
.inviteContainer{
  display:grid;
  grid-template-columns: 23% auto;
  grid-template-rows: 40% auto;
}

#inviteTitle{
  margin-top: 50px;
  font-size: 22px;
  width: 48%;
  margin-right: 25%
}
#number{
  padding-top: 7px;
  padding-left: 7px;
}
#number2{
  padding-top: 7px;
  padding-left: 7px;

}
.inviteForm {
  margin-left: 100%;
  display: inline-grid;
}
#nameDateTitle {
  right: 70%;
  font-size: 22px;
  width: 72%;
  top: 40px;
  /* align:left; */
}
.reception {
  display: grid;
  grid-template-columns: 30% auto;
  /* min-height: 950px; */
}
/* .goToCards {
  border-style: solid;
  border-radius: 15px;
  height: 45vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* padding: 80px; */
  /* margin: 80px; */
  /* display: inline-grid;
  margin-right: 7%;
  grid-column-gap: 100px;
  border-color: "#4f5359";
  border-width: medium;
  border-style: solid;
  padding-top: 74px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px; */
/* }

.goToCards img {
  height: 10vh;
  width: auto;
}

.goToCards a:hover {
  /* text-decoration: none; */
  /* color: #d9eefc;
  background: #d9eefc;

} */

.goToCards {

  border-style: solid;
  border-radius: 15px;
  height: 35vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 80px;
  /* display: inline-grid; */
  /* margin-right: 7%; */
  /* margin-top: 7%; */
  /* border-color: "#4f5359"; */
  /* border-width: medium; */
  /* border-style: solid; */
  /* padding: 40px; */
}

#createIcon {
  height: 10vh;
  width: auto;
}

.goToCards a {
  font-size: 30px;
  color: #4f5359;
  text-decoration: none;
}

.goToCards a:hover {
  color: salmon;
}


.navBar {
  display: flex;
  background-color: #d9eefc;
  padding: 10px;
  justify-content: space-between;
}
.navBar a:hover {
  color: salmon;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-height: 50px;
  width: auto;
  margin: 5px;
}

#chicken {
  margin-top: 20px;
}

#fish {
  margin-left: 0;
}

#steak {
  margin-top: 0;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .links {
  display: flex;
} */

.links a {
  margin: 0 20px 0 20px;
}

.home {
  /* background-color: #f2f2f2;
  display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center;
  width: 200%; */
}

.home-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}



.sampleBoard {
  border-style: solid;
  border-radius: 25px;
  width: 50%;
  height: 600px;
  margin-top: 1%;
  background-color:	#f2f2f2;
  margin-left: 25%;
}
.sampleBoard id{
  align-content: left;
}
#nameDate {
  font-size: 20px;
}
.createButtons {
  margin-top: 50px;
  width: 20%;
  background-color:	#f2f2f2;
  margin-left: 40%;
  border-radius: 25px;
  padding-bottom: 20px;
  border-style: solid;
}
.nameDateForm {
  /* display: inline-grid; */
  /* padding: 10px; */
  display: inline-grid;
  margin-left: 85px;


}
.commentForm {
  padding: 5px;
  padding-top: 15px;
}
.insideReceptionBoard{
  background-color: white;
  border-style: solid;
  width: 43%;
  margin-left: 3.5%;
  border-radius: 15px;
  /* height: 75%; */
  height:60%;
  overflow: scroll;
  /* min-height: 75%; */
  position: fixed;
}
.receptionBoard {
  position: fixed;
  height: 79%;
  width: 50%;
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 1;
  grid-row-end: span 2;
  /* width: 70%; */
  /* max-height: 14%; */
  /* margin-top: 5%; */
  margin-top: 3.5%;
  margin-left: 35%;
  display: float;
  background-color:	#f2f2f2;
  /* border-radius: 25px; */
  border-style: solid;
  border-radius: 15px;
  /* min-height: 74%; */
}
.guestList {

  width: 70%;
  height: 70%;
  margin-left: 15%;
  margin-top: 30px;
  background-color:	#b7e3ff;
  padding-top: 8px;
  border-radius: 25px;
}
#title {
  margin: 0;
}
.comments {
  border-color: "#4f5359";
  border-width: thin;
  border-style: solid;
  padding: 5px;
}
.createCommentsPhotos {
  border-color: "#4f5359";
  border-width: thin;
  /* border-style: solid; */
  margin-left: 20px;
  display: flex;
  margin-right: 20px;
  padding: 10px;
  justify-content: space-around;
}
.chooseReception {
  background-color:	#f2f2f2;
  width: 50%;
  height: 30%, fixed;
  margin-left: 55%;
  margin-top: 67px;
  flex-direction: column;
  display: flex;
  /* border-radius: 25px; */
  border-style: solid;
  border-radius: 15px;
}
.chooseReception :hover {
  color: salmon;
}
.chooseReception h1 {
  margin: 0;
}
.container {
  display: flex;
  height: 30px;
  width: 80%;
  /* flex-direction: column; */
  margin-left: 25%;
  /* margin-top: 40px; */
}
.container img {
  max-height: 3vh;
  width: auto;
  margin-left: 8px;
  /* margin-top: 18px; */
}
.loginContainer {
  display:flex;
  border-radius: 25px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border-color: "#4f5359";
  border-width: thin; */
  border-style: solid;
  margin-left: 30%;
  display: grid;
  margin-right: 30%;
  margin-top: 10%;
  padding: 10px;
  background-color: #f2f2f2;
}
.login {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* padding: 30%; */
}

.login h1:hover {
  margin: 10px 20px 20px 20px;
  color:salmon;
}
.login h1 {
  margin: 10px 20px 20px 20px;
  
}
.commentLeft {
  display: inline-block;
  border-color: red;
  border-width: thin;
  border-style: solid;
  float: left;
  padding: 2%;
  width: 300px;
  margin-bottom: 2%;
  margin-left: 15%;
}
.commentRight {
  display: inline-block;
  border-color: blue;
  border-width: thin;
  border-style: solid;
  float: left;
  padding: 2%;
  width: 300px;
  margin-bottom: 2%;
  /* max-width: 300px; */
  margin-left: 5%;
}
.photoLeft {
  display: inline-block;
  border-color: blue;
  border-width: thin;
  border-style: solid;
  float: left;
  padding: 2%;
  width: 300px;
  /* max-width: 300px; */
  margin-left: 5%;
}
.photoRight {
  display: inline-block;
  border-color: blue;
  border-width: thin;
  border-style: solid;
  float: left;
  padding: 2%;
  width: 300px;
  /* max-width: 300px; */
  margin-left: 15%;
}
.speech-bubble-left{
  display: inline-grid;
  margin-top: 30px;
	position: relative;
	background: #b7e3ff;
	border-radius: .4em;
  margin-right: 35%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: -40px;
  max-width: 300px;
  min-width: 150px;
  text-shadow: 1px 1px #FFFAFA;
}

.speech-bubble-left:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #b7e3ff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -13.5px;
	margin-bottom: -27px;
}
.speech-bubble-right{
  display: inline-grid;
  margin-top: 30px;
	position: relative;
	background: #b7e3ff;
	border-radius: .4em;
  margin-left: 35%;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: -80px;
  max-width: 300px;
  min-width: 150px;
  text-shadow: 1px 1px #FFFAFA;
}

.speech-bubble-right:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #b7e3ff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -13.5px;
	margin-bottom: -27px;
}
.speech-bubble-left-photo{
  display: inline-grid;
  margin-top: 15px;
	position: relative;
	background: #b7e3ff;
	border-radius: .4em;
  margin-right: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.speech-bubble-left-photo:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #b7e3ff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -13.5px;
	margin-bottom: -27px;
}
.speech-bubble-right-photo{
  display: inline-grid;
  margin-top: 15px;
	position: relative;
	background: #b7e3ff;
	border-radius: .4em;
  margin-left: 50%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.speech-bubble-right-photo:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #b7e3ff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -13.5px;
	margin-bottom: -27px;
}
#from {
  content: "-";
  text-align: right;
  padding-bottom: 30px;
}
.btn {
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  margin-top: 5px;
}
.btn:hover {
  /* color: #b7e3ff; */
  color: #4f5359;
  border-color: currentColor;
  background-color: #d9eefc;
}
.receptionHeader {
  padding-top: 20px;
}
.dropdown {
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  margin-top: 5px;
  height: 40px;
}
.dropdown:hover {
  /* color: #b7e3ff; */
  color: #4f5359;
  border-color: currentColor;
  background-color: #d9eefc;
}
